.buttonGroup {
    display: flex;
}

a {
    background-color: #62CF3A;
    color: #070A0D;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    width:30%;
    padding: 30px;
    position: absolute;
    bottom: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #62CF3A;
    text-decoration: none;
}

button {
    border: 0;
    background-color: #62CF3A;
    color: #070A0D;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width:15%;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #62CF3A;
    margin: 10px;
}

a:hover, button:hover {
    background-color: #070A0D;
    color: #62CF3A;
}