.workspace {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

.workspaces-list {
    flex: 15%;
    margin-right: 5px;
    background-color: #2A323C;
    height: 100%;
}

.workspaces-list h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0;
}

.statistics {
    flex: 90%;
    padding: 20px;
}

a {
    cursor: pointer; 
    text-decoration: none; 
    color: #070A0D;
}

button {
    width: 100%;
    background-color: #2A323C;
    border: 0;
    color: #F5F5F5;
    padding: 10px;
    margin-bottom: 4px;
    border-top: 0px;
    border-bottom: 2px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #62CF3A;
}

button:hover {
    background-color: #070A0D;
}