<div class="mat-wrap-background" style="height: 100%;">
    <mat-toolbar color="primary">
        <a routerLink="/manager">MYCELIUM</a>
    </mat-toolbar>
    <div class="workspace mat-app-background">
        <div class="workspaces-list">
            <h1>Workspaces</h1>
            <hr color="primary">
            <app-workspace *ngFor="let workspace of workspaces" [workspaceElement]="workspace" [workspaceId]="workspace.id"></app-workspace>
        </div>
        <div class="statistics">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>